<div class="grid">
	<div class="module1">
		#include_template_module("module1",100)
	</div>
	<div class="module2">
		#include_template_module("module2",101)
	</div>	
	<div class="K_Region">
		#include_region("demoRegion",[["module1",102],["module2",103]])
	</div>
</div>