<script type="text/javascript">
    function tipsSet(orderNo){
        $('#show_t' + orderNo).next('.tips').css({top:"62px",left:'50px'}).show();
        setTimeout("tips("+orderNo+")",2000)
    }
    function tips(orderNo){
        $('#show_t' + orderNo).next('.tips').fadeOut();
    }

    function checkChooseOrderItem(orderNo, orderItemSize) {
       var chooseOrderItem =  document.getElementsByName("orderItem"+orderNo).value;
       var submitForm = document.getElementById("form"+orderNo);
        if(orderItemSize == 1 || (orderItemSize > 1 && chooseOrderItem.length > 0)){
            submitForm.submit();
        }else if(orderItemSize > 1 && chooseOrderItem.length == 0){
            tipsSet(orderNo);
            return false;
        }
    }
</script>
<div class="n_acc_right">
    <div class="r_content">
        <div class="content_wrapper my_title clearfix" id="ucOrder">
            <h3 class="tit"><span>退换货服务</span></h3>
            <ul>
                #if($currentBackGoods=="apply")
                    <li class="curr"><a href="#0">申请退换货/保修</a></li>
                #else
                    <li><a href="$!urlBroker.getUrl('MyBackGoodsApplyList').toString()">申请退换货/保修</a></li>
                #end

                #if($currentBackGoods == "record")
                    <li class="curr"><a href="#0">退换货/保修记录</a></li>
                #else
                    <li><a href="$!urlBroker.getUrl('MyBackGoodsList').toString()">退换货/保修记录</a></li>
                #end
            </ul>
        </div>

        <div class="my_integral" id="Integral_check">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="my_integral_table my_eturns_table">
                <thead>
                <tr>
                        <th width="46%">商品</th>
                        <th width="18%">订单编号</th>
                        <th width="18%">下单时间</th>
                        <th width="18%">操作</th>
                </tr>
                </thead>
                #if($!backGoodsApplyPage.totalCount>0)
                    <tbody>
                        #foreach($backGoodApply in $backGoodsApplyPage.result)
                        <form method="post" id="form$!{backGoodApply.orderNo}" action="$urlBroker.getUrl('ApplyBackGoods').toString()">
                            <input type="hidden" name="orderNo" value="$!{backGoodApply.orderNo}">
                        <tr>
                            <td class="li_h">
                            #foreach($item in $backGoodApply.orderItemList)
                                <div class="clearfix my_eturns_list  #if($backGoodApply.orderItemList.size()<=1)single#end">
                                    #if($backGoodApply.orderItemList.size()>1)
                                        <div class="input"><input name="orderItemIds$!{backGoodApply.orderNo}" type="checkbox" value="$item.id"></div>
                                    #elseif($backGoodApply.orderItemList.size()==1)
                                        <input name="orderItemIds$!{backGoodApply.orderNo}" type="hidden" value="$item.id">
                                    #end
                                    #*订单项的可退货数量*#
                                    <input type="hidden" name="orderItem$!{backGoodApply.orderNo}$!{item.id}" value="$!{item.ReturnsNum}" >
                                    <div class="my_eturns_img">
                                        <a href="$urlBroker.getUrl('SkuDetail').addQueryData('productId', $item.productId).addQueryData('skuId', $item.skuId).toString()" target="_blank" title="$item.skuName &#10; $item.skuExplain">
                                            <img src="$imgResolver.getMinSizeImgUrl($item.skuMainPicture)" alt="$item.skuExplain" />
                                        </a>
                                    </div>
                                    <div class="my_eturns_letter">
                                        <p>
                                            <a href="$urlBroker.getUrl('SkuDetail').addQueryData('productId', $item.productId).addQueryData('skuId', $item.skuId).toString()" target="_blank" title="$item.skuName &#10; $item.skuExplain">
                                                $!{item.skuName}
                                            </a>
                                        </p>
                                        <span>¥$item.totalPriceByMoney</span>
                                    </div>
                                </div>
                            #end
                            </td>
                            <td valign="top" rowspan="$backGoodApply.backGoodsItemList.size()">$!{backGoodApply.orderNo}</td>
                            <td valign="top" rowspan="$backGoodApply.backGoodsItemList.size()">$dateTool.format("yyyy-MM-dd HH:mm:ss",$!{backGoodApply.createDate})</td>
                            <td valign="top" rowspan="$backGoodApply.backGoodsItemList.size()" class="show_t">
                                <input type="button" id="show_t$!{backGoodApply.orderNo}" onclick="javascript:checkChooseOrderItem($!{backGoodApply.orderNo}, $backGoodApply.orderItemList.size())" value="申请退换货" class="apply_refund show_t">
                                <div class="tips" style="display: none">
                                    <span class="ico"></span>
                                    <p>请选择您需要退换货的商品</p>
                                </div>
                            </td>
                        </tr>
                        </form>
                        #end
                    </tbody>

                    <tfoot>
                    #if($backGoodsApplyPage.getTotalPages() > 1)
                    <tr>
                        <td colspan="4">
                            <div class="pagebars">
                                <div class="pagebar_inner">
                                    <!-- 定义form的地址backGoodsURL，判断是请求申请退货的列表还是已经退货的列表-->
                                    <form method="post" action="$!urlBroker.getUrl('MyBackGoodsApplyList').toString()" id="pagebarForm">
                                        <input type=hidden id="maxPageNumber" value="$backGoodsApplyPage.totalPages"/>
                                        <input type=hidden id="pageBaseUrl" value="/product_list.htm?1=1"/>
                                        #if($backGoodsApplyPage.hasPre)
                                                <a href="$!urlBroker.getUrl('MyBackGoodsApplyList').addQueryData('pageNo',$!backGoodsApplyPage.prePage).toString()" class="page_start">上一页</a>
                                        #else
                                            <span class="page_start">上一页</span>
                                        #end

                                        #foreach($pageIndex in $!backGoodsApplyPageBar.linkNums)
                                            #if($pageIndex == -1)
                                                <a href="javascript:void(0)" class="number"><span>...</span></a>
                                            #elseif($pageIndex == $backGoodsApplyPage.pageNo)
                                                <a href="javascript:void(0);" class="number current"><span>$pageIndex</span></a>
                                            #else
                                                    <a href="$!urlBroker.getUrl('MyBackGoodsApplyList').addQueryData('pageNo',$!pageIndex).toString()" class="number"><span>$pageIndex</span></a>
                                            #end
                                        #end

                                        #if($backGoodsApplyPage.hasNext)
                                                <a href="$!urlBroker.getUrl('MyBackGoodsApplyList').addQueryData('pageNo',$!backGoodsApplyPage.nextPage).toString()" class="page_next">下一页</a>
                                        #else
                                            <span class="page_next">下一页</span>
                                        #end

                                        #*<span class="letter">跳转至</span>
                                        <input type="text" name="pageNo" onkeyup="value=value.replace(/[^\d]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" value="$backGoodsApplyPage.pageNo" class="text_in">
                                        <span class="letter">/$backGoodsApplyPage.totalPages页</span>
                                        <input type="submit" value="确定" class="button_ok">*#
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    #end
                    </tfoot>

                #else
                    <tbody>
                    <tr class="last">
                        <td colspan="5">当前账户没有退换货记录</td>
                    </tr>
                    </tbody>
                #end
            </table>


        </div>
    </div>
</div>
<div class="clearfix"></div>
</div>
