<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>$!title - 易居尚</title>
    <link rel="stylesheet" href="$!urlBroker.getUrl('StaticFileDomainForHttps').toString()/static/css/common.css?$!urlBroker.getVersion()"/>
    <link rel="stylesheet" href="$!urlBroker.getUrl('StaticFileDomainForHttps').toString()/static/css/account.css?$!urlBroker.getVersion()"/>

    <!--[if IE 6]>
    <script type="text/javascript" src="$!urlBroker.getUrl('StaticFileDomainForHttps').toString()/static/js/DD_belatedPNG.js"></script>
    <script>DD_belatedPNG.fix('.ie6png');</script>
    <![endif]-->
</head>
<body>
<input name="isRedirect" type="hidden" id="isRedirect" value="false">

#parse("user/newLoginTop.vm")
<!-- 设置新密码 -->
<div class="login-page nw-page">
    <div class="login-bg">
        <div class="e-wrapper">
            <div class="login-page-main">
                <div class="head"><span>易居尚</span></div>

                <h3>设置新密码</h3>

                <form action="$!urlBroker.getUrl('ChangePassword').toString()" method="POST" id="nw-form">
                    <input type="hidden" value="$!email" name="email" id="email"/>
                    <input type="hidden" value="$!checkCode" name="checkCode"/>

                    <ul>
                        <li>
                            <input type="text" class="form-text" value="$!userName" disabled/>
                            <span class="errormsg"></span>
                        </li>
                        <li class="item-row">
                        <label for="password" class="form-label">请输入您的新密码</label>
                            <input type="password" name="passWord" class="form-text" id="password"/>
                            <span class="errormsg" id="errormsg-password"></span>
                        </li>
                        <li class="item-row">
                        <label for="rePassword" class="form-label">请再次输入您的新密码</label>
                            <input type="password" name="rePassWord" class="form-text" id="rePassword" />
                            <span class="errormsg" id="errormsg-rePassword"></span>
                        </li>
                        <li class="btns">
                            <button type="submit" class="e-btn btn-login">确定</button>
                            <span class="errormsg" id="errormsg-nw"></span>
                        </li>
                    </ul>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- /设置新密码 -->
#parse("user/newShopFoot.vm")

<script src="$!urlBroker.getUrl('StaticFileDomainForHttps').toString()/static/js/jquery.min.js"></script>
<script src="$!urlBroker.getUrl('StaticFileDomainForHttps').toString()/shop/js/var?$!urlBroker.getVersion()"></script>
<script src="$!urlBroker.getUrl('StaticFileDomainForHttps').toString()/static/js/common.js?$!urlBroker.getVersion()"></script>
<script src="$!urlBroker.getUrl('StaticFileDomainForHttps').toString()/static/js/user/FormValidate.js?$!urlBroker.getVersion()"></script>
<script src="$!urlBroker.getUrl('StaticFileDomainForHttps').toString()/static/js/user/login.js?$!urlBroker.getVersion()"></script>
<script type="text/javascript">
    Ejs.user.resetPassword();
</script>

#if($online)
<div style="display: none">
    <script src="$!urlBroker.getUrl('StaticFileDomainForHttps').toString()/static/js/statistics.js?$!urlBroker.getVersion()"></script>
</div>
#end
</body>
</html>
