<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>找回密码 - 易居尚</title>
    <link rel="stylesheet" href="$!urlBroker.getUrl('StaticFileDomainForHttps').toString()/static/css/common.css?$!urlBroker.getVersion()"/>
    <link rel="stylesheet" href="$!urlBroker.getUrl('StaticFileDomainForHttps').toString()/static/css/account.css?$!urlBroker.getVersion()"/>

    <!--[if IE 6]>
    <script type="text/javascript" src="$!urlBroker.getUrl('StaticFileDomainForHttps').toString()/static/js/DD_belatedPNG.js"></script>
    <script>DD_belatedPNG.fix('.ie6png');</script>
    <![endif]-->
</head>
<body>
<input name="isRedirect" type="hidden" id="isRedirect" value="false">

#parse("user/newLoginTop.vm")
<!-- 找回密码 -->
<div class="login-page fp-page">
    <div class="login-bg">
        <div class="e-wrapper">
            <div class="login-page-main">
                <div class="head"><span>易居尚</span></div>

                <h3>忘记密码</h3>

                <form action="$!urlBroker.getUrl('CheckUserForRetakePasswordHttps').toString()" method="POST" id="fp-form">
                    <input type="hidden" name="image_code_url" value="$!urlBroker.getUrl('ImageCode').toString()"/>
                    <input type="hidden" name="reg_code_url" value="$!urlBroker.getUrl('CheckImageCodeHttps').toString()"/>
                    <input type="hidden" name="reg_mail_url" value="$!urlBroker.getUrl('CheckUserEmailForRegister').toString()"/>

                    <ul>
                        <li class="item-row">
                        <label for="email" class="form-label">请输入注册时填写的邮箱</label>
                            <input type="text" class="form-text" name="email" id="email"/>
                            <span class="errormsg" id="errormsg-email"></span>
                        </li>
                        <li class="code-row">
                            #set($src=$!urlBroker.getUrl('ImageCode').toString()+"?version="+$imageVersion)
                            <label for="code" class="form-label">输入验证码</label>
                            <input type="text" class="form-text form-code" id="code" name="code"/>
                            <a href="javascript:void(0);" class="reload-imageCode">
                                <img id="imageCode" class="imageCode" alt="" title="看不清?换一张" src="$src">
                                <span>看不清，换一张</span>
                            </a>
                            <span class="errormsg" id="errormsg-code"></span>
                        </li>
                        <li class="btns">
                            <button type="submit" class="e-btn btn-login">确定</button>
                        </li>
                    </ul>
                </form>

                <!--<div class="fp-form-success">
                    <p>系统已成功发送一封验证邮件到您的邮箱，请注意查收！</p>
                    <a href="#" class="e-btn btn-default">点击进入</a>
                    <a href="#" class="e-btn btn-grey">重新发送</a>
                </div>-->

            </div>
        </div>
    </div>
</div>
<!-- /找回密码 -->
#parse("user/newShopFoot.vm")

<script src="$!urlBroker.getUrl('StaticFileDomainForHttps').toString()/static/js/jquery.min.js"></script>
<script src="$!urlBroker.getUrl('StaticFileDomainForHttps').toString()/shop/js/var?$!urlBroker.getVersion()"></script>
<script src="$!urlBroker.getUrl('StaticFileDomainForHttps').toString()/static/js/common.js?$!urlBroker.getVersion()"></script>
<script src="$!urlBroker.getUrl('StaticFileDomainForHttps').toString()/static/js/user/FormValidate.js?$!urlBroker.getVersion()"></script>
<script src="$!urlBroker.getUrl('StaticFileDomainForHttps').toString()/static/js/user/login.js?$!urlBroker.getVersion()"></script>
<script type="text/javascript">
$(document).ready(function () {
    Ejs.user.findPassword();
});
</script>

#if($online)
<div style="display: none">
<script src="$!urlBroker.getUrl('StaticFileDomainForHttps').toString()/static/js/statistics.js?$!urlBroker.getVersion()"></script>
</div>
#end

</body>
</html>
