#if($productIntegralConversion)
<!-- 积分兑换  -->
<div class="order-box payment">
    <h3>支付方式</h3>

    <div class="payment-box-dis">
        <h6><span class="col">积分支付</span>您有<span>$totalIntegral</span>积分，本次可使用<span>$totalIntegral</span>积分</h6>
        <h5>本次使用<span class="red">${totalPayIntegral}积分</span>兑换商品，无需额外支付费用！</h5>
        <h4><span>在线支付 支持支付宝、财付通支付平台，支持多家银行借记卡。</span></h4>

        <div class="clearfix default-payBank">
            <ul class=" list clearfix">
                <li >
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-zfb-dis.jpg" alt="支付宝">
                </li>
                <li  >
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-cft-dis.jpg" alt="财付通">
                </li>

            </ul>
        </div>

    </div>
</div>

#elseif($productSuperConversion)

<!-- 积分优惠购  -->
<div class="order-box payment">
    <h3>支付方式</h3>

    <div class="payment-box">
        <h6><span class="col">积分支付</span>您有<span>$totalIntegral</span>积分，本次可使用<span>$totalIntegral</span>积分</h6>
        <h5>本次使用<span class="red">${totalPayIntegral}积分+ ¥${totalPayPrice}</span> 换购商品，需要支付 <span class="red">${totalPayPrice}元</span> ，请选择以下支付方式付款。</h5>
        <h4>在线支付 <span>支持支付宝、财付通支付平台，支持多家银行借记卡。</span></h4>

        <div class="clearfix default-payBank">
            <ul class="list clearfix">
                <li payBank="Alipay" class="current">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-zfb.jpg" alt="支付宝">
                </li>
                <li payBank="Tenpay">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-cft.jpg" alt="财付通">
                </li>

                <li class="more-payBank">
                    <a href="javascript:void(0);">选择更多支付方式&gt;&gt;</a>
                </li>
            </ul>
        </div>

        <div class="clearfix more-list">
            <h4>网上银行 <span>由支付宝提供接口，确保您的资金安全</span></h4>
            <ul class="list clearfix">
                <li payBank="ICBCB2C">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-gs.jpg" alt="工商银行">
                </li>
                <li payBank="CCB">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-js.jpg" alt="建设银行">
                </li>
                <li payBank="BOCB2C">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-zg.jpg" alt="中国银行">
                </li>
                <li payBank="CMB">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-zs.jpg" alt="招商银行">
                </li>
                <li payBank="COMM">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-jt.jpg" alt="交通银行">
                </li>
                <li payBank="ABC">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-ny.jpg" alt="农业银行">
                </li>
                <li payBank="POSTGC">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-yz.jpg" alt="中国邮政储蓄">
                </li>
                <li payBank="CITIC">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-zx.jpg" alt="中信银行">
                </li>
                <li payBank="CIB">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-xy.jpg" alt="兴业银行">
                </li>
                <li payBank="SPDB">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-pf.jpg" alt="浦发银行">
                </li>
                <li payBank="CMBC">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-ns.jpg" alt="民生银行">
                </li>
                <li payBank="CEBBANK">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-gd.jpg" alt="光大银行">
                </li>
                <li payBank="NBBANK">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-nb.jpg" alt="宁波银行">
                </li>
                <li payBank="SDB">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-szfz.jpg" alt="深发展银行">
                </li>
                <li payBank="BJRCB">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-bjns.jpg" alt="北京农商银行">
                </li>
                <li payBank="SPABANK">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-pa.jpg" alt="平安银行">
                </li>
                <li payBank="GDB">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-gf.jpg" alt="广发银行">
                </li>
                <li payBank="SHBANK">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-sh.jpg" alt="上海银行">
                </li>
                <li payBank="HZCBB2C">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-hz.jpg" alt="杭州银行">
                </li>
                <li payBank="BJBANK">
                    <i></i>
                    <img src="$!urlBroker.getUrl('StaticFileDomain').toString()/images/payment/bank-bj.jpg" alt="北京银行">
                </li>
            </ul>
        </div>
    </div>

</div>
#end