<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <import resource="dataSource.xml"/>

    <import resource="common.xml"/>

    <import resource="templateContext.xml"/>

    <import resource="userContext.xml"/>

    <import resource="categoryContext.xml"/>

    <import resource="productCenter.xml"/>

    <import resource="tradeContext.xml"/>

    <!-- 问卷调查 -->
    <import resource="omContext.xml" />

    <import resource="supplierContext.xml"/>

    <import resource="cmsContext.xml"/>

    <import resource="subContainer.xml"/>

    <import resource="search.xml"/>


    <bean id="urlBrokerFactory" class="com.kariqu.common.uri.URLBrokerFactory" init-method="init">
        <property name="urlConfigName" value="/url.xml"/>
    </bean>

</beans>