
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>订单提交成功</title>
    <link rel="stylesheet" href="$!urlBroker.getUrl('StaticFileDomain').toString()/css/common.css?$!urlBroker.getVersion()" />
    <link rel="stylesheet" href="$!urlBroker.getUrl('StaticFileDomain').toString()/css/cart/index.css?$!urlBroker.getVersion()" />

    <!--[if IE 6]>
    <script type="text/javascript" src="$!urlBroker.getUrl('StaticFileDomain').toString()/js/DD_belatedPNG.js"></script>
    <script>DD_belatedPNG.fix('.ie6png');</script>
    <![endif]-->
</head>
<body>
    #parse("user/newLoginTop.vm")

<div class="e-header-min e-wrapper">
    <h1 class="logo"><a href="$!urlBroker.getUrl('BuyHome').toString()" title="易居尚-品质居家用品网购平台">易居尚<span>yijushang.com</span></a></h1>

    <div class="cart-steps">
        <ul>
            <li>我的购物车</li>
            <li>填写核对订单</li>
            <li class="last">订单提交成功</li>
        </ul>
        <div class="step">&nbsp;</div>
    </div>
</div>

<div class="order-pay-page">

    <div class="e-wrapper">
        <div class="order-failure">
            <h4 class="failure"><i></i>非常抱歉,订单提交失败!</h4>
            <p>$!msg</p>
            <p><a href="$!urlBroker.getUrl('BuyHome').toString()">返回首页</a></p>
        </div>

    </div>
</div>

#parse("order/oderFoot.vm")

<script type="text/javascript">
    var currentPayBank = '$!payBank';
    EJS.SelectPayBank = '$!urlBroker.getUrl('BuyHome').toString()/order/pay/$!ordersNoList';
    EJS.ToPayStatus = '$!urlBroker.getUrl('BuyHome').toString()/pay/order/status/query?orderNo=$!ordersNoList';
    EJS.ToSubmitPayQuestion = '$!urlBroker.getUrl('BuyHome').toString()/feedback/new?pay=yes';
    EJS.ToPay = '$!urlBroker.getUrl('ToPay').toString()';
</script>
<script type="text/javascript" src="$!urlBroker.getUrl('StaticFileDomain').toString()/js/cart/pay.js"></script>
</body>
</html>