.icon-list {
    background: url('../images/icons/table.png') !important;
}

.icon-add {
    background: url('../images/icons/add.gif') !important;
}

.icon-remove {
    background: url('../images/icons/delete.gif') !important;
}

.icon-edit {
    background: url('../images/icons/plugin.gif') !important;
}

.icon-menu {
    background: url('../images/icons/application_view_list.png') !important;
}

.icon-chart {
    background: url('../images/icons/chart_bar.png') !important;
}

.icon-previous {
    background: url('../images/icons/book_previous.png') !important;
}

.icon-storage {
    background: url('../images/icons/box.png') !important;
}

.icon-design {
    background: url('../images/icons/paintcan.png') !important;
}

.icon-webcam {
    background: url('../images/icons/webcam.png') !important;
}

.icon-sum {
    background: url('../images/icons/sum.png') !important;
}

.icon-printer {
    background: url('../images/icons/printer.png') !important;
}

.icon-zoom {
    background: url('../images/icons/page_white_find.png') !important;
}

.icon-arrow_redo {
    background: url('../images/icons/arrow_redo.png') !important;
}

.icon-accept {
    background: url('../images/icons/accept.png') !important;
}

.icon-cart {
    background: url('../images/icons/cart.png') !important;
}

.icon-control_play {
    background: url('../images/icons/control_play.png') !important;
}

.icon-refresh {
    background: url('../images/icons/refresh.png') !important;
}

.icon-rewrite {
    background: url('../images/icons/rewrite.png') !important;
}

.icon-export {
    background: url('../images/icons/export.png') !important;
}

.icon-user-log {
    background: url('../images/icons/user-log.png') !important;
}

.icon-user-manage {
    background: url('../images/icons/user-manage.png') !important;
}

.icon-password {
    background: url('../images/icons/password.png') !important;
}

.icon-logout {
    background: url('../images/icons/logout.png') !important;
}


